@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; }

*:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px #a4acff9f; }

:root {
  --cor-principal: #32CC7A;
  --font-light: #fff;
  --cor-dark-first: #151A20;
  --cor-dark-second: #1F252D; }

body {
  min-height: 100vh;
  background-color: var(--cor-dark-first); }

/* ini: Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cor-principal);
  /* cor do background que vai ocupar o body */
  z-index: 9999999;
  /* z-index para jogar para frente e sobrepor tudo */ }

#preloader .inner {
  position: absolute;
  top: 47%;
  /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%); }

.bolas > div {
  display: inline-block;
  background-color: var(--font-light);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 20px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.bolas > div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0; }

.bolas > div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s; }

.bolas > div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s; }

@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7; }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

/* end: Preloader */
/* BARRA DE NAVEGAÇÃO */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #000000; }

::-webkit-scrollbar-thumb {
  align-items: left;
  width: 6px;
  border-radius: 10px;
  background-color: #313131; }

::-webkit-scrollbar-thumb:hover {
  background-color: #505050; }

/*END BARRA DE NAVEGAÇÃO*/
/* STICKY NAVBAR */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--cor-dark-second);
  align-items: center;
  letter-spacing: 1px;
  padding: 0.8vh 0px;
  z-index: 10000;
  transition: 0.6s;
  box-shadow: 0px 0px 48px -10px #272727; }

.org-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; }

nav .logo img {
  width: 110px; }

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none; }

nav .header li a {
  position: relative;
  padding: 10px 15px;
  border-radius: 1px;
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--font-light);
  letter-spacing: 1px;
  font-weight: 450;
  transition: background-color 0.3s; }

nav ul li .spec-but {
  background-color: var(--cor-principal);
  margin-left: 5px;
  color: black;
  border: 1.9px solid var(--cor-principal);
  box-shadow: 0px 0px 10px 0px var(--cor-principal);
  transition: 0.5s; }

nav ul li .spec-but:hover {
  opacity: 0.9; }

nav ul .li a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 0;
  height: 3px;
  background-color: var(--cor-principal);
  transition: 0.4s;
  z-index: -1; }

nav ul .li a:hover::after {
  width: 100%;
  right: unset;
  left: 0;
  box-shadow: 0px 0px 10px 0px var(--cor-principal); }

/* End - STICKY NAVBAR*/
/* HAMBURGUER */
.hamburguer {
  display: none;
  cursor: pointer;
  top: 22.5%;
  right: 5%;
  width: 130px;
  height: 100px;
  z-index: 1000; }

.hamburguer::after {
  content: '';
  position: relative;
  width: 100%;
  height: 14px;
  background-color: var(--font-light);
  z-index: 1000;
  transition: 0.6s ease; }

.hamburguer::before {
  content: '';
  position: relative;
  width: 100%;
  height: 14px;
  background-color: var(--font-light);
  z-index: 1000;
  transition: 0.6s ease; }

#hamburguer:checked ~ label .hamburguer:after {
  background-color: var(--cor-principal);
  transform: rotate(-135deg);
  top: -30px;
  width: 90%; }

#hamburguer:checked ~ label .hamburguer::before {
  background-color: var(--cor-principal);
  transform: rotate(135deg);
  margin-top: 15px;
  width: 90%; }

#hamburguer:checked ~ label .hamburguer {
  position: fixed;
  top: 5.5%; }

.org {
  display: none; }

/* MENU */
.menu {
  position: fixed;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  margin: 0;
  background-color: #000000d7;
  backdrop-filter: blur(10px);
  padding: 20px;
  list-style: none;
  transition: 0.5s; }

.menu.active {
  right: -100%; }

.menu a {
  color: var(--font-light);
  text-decoration: none; }

.menu li {
  margin-bottom: 80px; }

/* END HAMBURGUER */
