@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background-color: var(--verde-principal-more-dark);
}

:root {
    --verde-principal: #32CC7A;
    --verde-principal-dark: #2FB26E;
    --verde-principal-more-dark: #28a866;
    --font-light: #f0f0f0;
    --font-second: #d3d3d3;
    --dark-first: #151A20;
    --dark-second: #1F252D;
    --dark-three: #2b2f35;

    /*
    VALOR DAS VARIAVEIS LIGHT
    --verde-principal: #32CC7A;
    --verde-principal-dark: #2FB26E;
    --verde-principal-more-dark: #28a866;
    --font-light: rgb(32, 32, 32);
    --dark-first: #f3f3f3;
    --dark-second: #e0e0e0;
    --dark-three: #fafafa;*/

}

#none-moon {
    display: none;
}

#none-sun {
    display: none;
}

.load-img{
    display: none;
}

body {
    min-height: 100vh;
    background-color: var(--dark-first);
}

/* ini: Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--verde-principal);
    /* cor do background que vai ocupar o body */
    z-index: 9999999;
    /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
    position: absolute;
    top: 47%;
    /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.bolas>div {
    display: inline-block;
    background-color: var(--font-light);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 20px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bolas>div:nth-child(1) {
    animation-duration: 0.75s;
    animation-delay: 0;
}

.bolas>div:nth-child(2) {
    animation-duration: 0.75s;
    animation-delay: 0.12s;
}

.bolas>div:nth-child(3) {
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}


/* end: Preloader */


/* BARRA DE NAVEGAÇÃO */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--dark-second);
}

::-webkit-scrollbar-thumb {
    align-items: left;
    width: 6px;
    border-radius: 10px;
    background-color: var(--verde-principal);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--verde-principal-dark);
}

/*END BARRA DE NAVEGAÇÃO*/


/* STICKY NAVBAR */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark-second);
    align-items: center;
    letter-spacing: 1px;
    padding: 0.8vh 0px;
    z-index: 10000;
    transition: 0.6s;
    box-shadow: 0px 0px 20px 5px var(--dark-second);
}

.org-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}


nav .logo img {
    width: 110px;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}

nav .header li a {
    position: relative;
    padding: 10px 15px;
    border-radius: 1px;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 450;
}

nav .header .li a {
    color: var(--font-light);
}

nav ul .li a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0;
    height: 3px;
    background-color: var(--verde-principal);
    transition: 0.4s;
    z-index: -1;
}

nav ul .li a:hover::after {
    width: 100%;
    right: unset;
    left: 0;
    box-shadow: 0px 0px 10px 0px var(--verde-principal);
}

/* End - STICKY NAVBAR*/


/* HAMBURGUER */

.hamburguer {
    display: none;
    cursor: pointer;
    top: 10px;
    right: 11%;
    width: 50px;
    height: 40px;
    z-index: 1000;
}

.hamburguer::after {
    content: '';
    position: relative;
    margin-left: 17px;
    width: 65%;
    height: 5px;
    background-color: var(--font-light);
    z-index: 1000;
    transition: 0.6s ease;
}

.hamburguer::before {
    content: '';
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--font-light);
    z-index: 1000;
    transition: 0.6s ease;
}

#hamburguer:checked~label .hamburguer:after {
    background-color: var(--verde-principal);
    margin-left: 0px;
    transform: rotate(-135deg);
    bottom: 11px;
    width: 90%;
}

#hamburguer:checked~label .hamburguer::before {
    background-color: var(--verde-principal);
    transform: rotate(135deg);
    margin-top: 12px;
    width: 90%;
}

#hamburguer:checked~label .hamburguer {
    position: fixed;
}

.org {
    display: none;
}


/* MENU */

.menu {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    margin: 0;
    background-color: #151a20a6;
    backdrop-filter: blur(10px);
    padding: 20px;
    list-style: none;
    transition: 0.5s;
}

.menu.active {
    right: -100%;
}

.menu a {
    font-size: 1.2rem;
    color: #f0f0f0;
    text-decoration: none;
}

.menu li {
    margin-bottom: 80px;
}

.menu .light-dark{
    display: none;
    position: relative;
}

.menu .light-dark a{
    font-size: 1.4rem;
    border-radius: 1px;
    padding: 6px 12px;
    color: var(--dark-first);
    background-color: var(--verde-principal);
}

/* END HAMBURGUER */

/* Padrão de Design */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0px 35px 0px;
    width: 100%;
    height: 100%;
    color: var(--font-light);
}

.org-align {
    position: relative;
    width: 80%;
    height: 100%;
}

.align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    position: relative;
    padding: 0px 0px 30px 0px;
    height: 100%;
}

.space-itens {
    display: flex;
    align-items: center;
}

.space-itens img{
    max-width: 350px;
}

.bg-second {
    background-color: var(--dark-second);
}

.spec-but {
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 1px;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 450;
    background-color: var(--verde-principal);
    color: var(--font-light);
    box-shadow: 0px 2px 10px 0px var(--verde-principal);
    transition: 0.5s;
}

.spec-but:hover {
    opacity: .8;
}

.verde-principal {
    display: inline;
    color: var(--verde-principal);
}

.line-but{
    position: relative;
    padding: 10px 15px;
    border-radius: 1px;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 450;
    color: var(--font-light);
}

.underline-but {
    position: relative;
    padding: 10px 15px;
    border-radius: 1px;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 450;
    color: var(--font-light);
}

.underline-but:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0;
    height: 3px;
    background-color: var(--verde-principal);
    transition: 0.4s;
    z-index: -1;
}

.underline-but:hover::after {
    width: 100%;
    right: unset;
    left: 0;
    box-shadow: 0px 0px 10px 0px var(--verde-principal);
}

/* END Padrão de Design */










/* APRESENTATION-VIEW */

#view-sec.container {
    height: 100vh;
    padding: 0;
}

#view-sec .container .org-align .align-center h1{
    font-size: 2.2rem;
}

.container .org-align .align-center span {
    position: relative;
    width: 50%;
    word-break: normal;
}

.container .org-align .align-center .infos-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#adjust-but {
    margin-left: 0px;
    width: 140px;
}

.container .org-align .align-center span h1 {
    font-size: 2rem;
    margin-bottom: 7px;
    letter-spacing: 0px;
}

.container .org-align .align-center span:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.container .org-align .align-center .redes-sociais a {
    font-size: 1.4rem;
    border-radius: 1px;
    padding: 6px 12px;
    color: var(--verde-principal);
    transition: 0.5s;
}

.container .org-align .align-center .redes-sociais a:hover {
    background-color: var(--verde-principal);
    color: var(--dark-first);
    box-shadow: 0px 0px 10px 0px var(--verde-principal);
}

.container .org-align .align-center .img-view .infos-align {
    justify-content: center;
    align-items: center;
}

.container .org-align .align-center .img-view img {
    position: relative;
    width: 360px;
}

#about .align-center {
    align-items: center;
}

#services.container{
    padding: 30px 0px 60px 0px;
}

#services .align-center {
    flex-direction: column;
    align-items: center;
}

.light-dark {
    position: absolute;
    right: 0;
    bottom: 0;
}

.grey-div {
    position: absolute;
    background-color: var(--dark-second);
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
}

/* END APRESENTATION-VIEW */



/* WAVES */

.onda {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 105px;
    z-index: -1;
}

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
}

.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0;
    bottom: 0;
}

.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

/* END WAVES */


/* SERVICES-VIEW */

.services-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}

.services-h1 {
    font-size: 2.2rem;
    margin-bottom: 14px;
    letter-spacing: 0px;
}

.services-cont div {
    position: relative;
    font-size: 0.74rem;
    width: 100%;
    height: 100%;
    color: var(--font-light);
    padding: 30px;
    background-color: var(--dark-three);
    box-shadow: 0px 5px 40px -5px var(--dark-three);
    transition: 0.6s;
}

.services-cont div:hover {
    color: #f0f0f0;
    background-color: var(--verde-principal);
    box-shadow: 0px 5px 40px -3px var(--verde-principal);
    z-index: 1;
}

.services-cont div ion-icon {
    font-size: 2.7rem;
    color: var(--verde-principal);
    padding: 0px 0px 6px 0px;
    transition: 0.6s;
}

.services-cont div:hover>ion-icon {
    color: #f0f0f0;
}

.services-cont div h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: -2px 0px 12px 0px;
}

/* END SERVICES-VIEW */


/* PORTFOLIO-VIEW */

.port-align {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port-align ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.port-align ul li {
    list-style: none;
    margin: 0;
}

.port-align ul li h1 {
    font-size: 2rem;
}

.port-align ul .grey-li a{
    position: relative;
    text-decoration: none;
    color: var(--font-second);
    font-size: 0.97rem;
    padding: 10px 20px;
    margin: 0;
    border-radius: 1px;
    background-color: var(--dark-second);
    transition: 0.6s;
}

.port-align ul .grey-li a:hover{
    color: var(--font-light);
}

.port-align ul .grey-li a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0;
    height: 3px;
    background-color: var(--verde-principal);
    transition: 0.4s;
    z-index: 1;
}

.port-align ul .grey-li a:hover::after {
    width: 100%;
    right: unset;
    left: 0;
    box-shadow: 0px 0px 10px 0px var(--verde-principal);
}

/*CARROUSEL*/

.carrousel{
    position: relative;
    padding: 20px 0px;
    overflow-y: hidden;
    overflow-x: scroll;
}
  .container-carrousel{
    width: 1400px;
    margin: 0 auto;
  }
  /* Main */
  .slider{
    width: 100%;
  }
  .slider-content{
    width: 100%;
    white-space: nowrap;
    transition: all 0.5s;
  }
  .slide{
    width: 16.66666666666667%;
    display: inline-block;
    position: relative;
    transition: all .5s;
    cursor: pointer;
  }
  .slider .slide:nth-child(6n){
    transform-origin: left center;
  }
  .slider .slide:nth-child(6n+6){
    transform-origin: right center;
  }
  .slide-content{
    width: 100%;
    padding: 2.5px;
    box-sizing: border-box;
  }
  .slide img{
    width: 100%;
    display: block;
  }
  .slide:nth-child(6n+1) .onhover{
    transform: translate(2.5px, -50%);
    left: 0%;
  }
  .slide:nth-child(6n+6) .onhover{
    transform: translate(-2.5px, -50%);
    right: 0%;
    left: initial;
  }
  .slide .onhover{
    width: calc(100% - 5px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
  .onhover img{
    width: 100%;
  }
  
  /* Control Pagination */
  .control-pagination{
    margin: 30px 0;
  }
  .prev, .next{
    color: #fff;
    padding: 5px;
    cursor: pointer;
  }
  .prev:hover, .next:hover{
    color: #ccc;
  }

/* END CARROUSEL*/

/* END PORTFOLIO-VIEW */


/* CONTACT-VIEW */

#contact-view.container{
    padding: 70px 0px 70px 0px;
    text-decoration: none;
    color: var(--font-light);
    font-size: 0.9rem;
}

#contact-view .align-center {
    align-items: center;
}

#contact-view .align-center a i{
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1px;
    color: #f0f0f0;
    font-size: 1.4rem;
    cursor: pointer;
    transform: scale(1);
    transition: 0.6s;
}

#contact-view .align-center .fa-whatsapp {
    font-size: 1.5rem;
    padding: 10px 11px;
    box-shadow: -1px 5px 15px -2px #31BA45;
    border-radius: 1px;
    background-color: #31BA45;
}

#contact-view .align-center .fa-linkedin-in{
    font-size: 1.5rem;
    padding: 10px 11px;
    border-radius: 1px;
}

#contact-view .align-center .fa-instagram{
    font-size: 1.5rem;
    padding: 10px 11px;
    border-radius: 1px;
}

#contact-view .align-center a i:hover {
    transform: scale(1.1);
}

/* END CONTACT-VIEW */


/* FOOTER */

#footer-main {
    background-color: #0f0f0f;
    box-shadow: inset 0px 3px 0px 0px var(--verde-principal);
    padding: 20px 60px;
}

.footer-ap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 180px;
}

.footer-3 i {
    background-color: #0F0F0F;
    color: #B9B9B9;
    font-size: 1.1rem;
    margin: 0px 10px 0px 0px;
    border-radius: 1px;
    padding: 5px;
}


/* --------------------------
  ---------- styles ----------- 
  ---------------------------*/


#footer-main section {
    color: rgb(185, 185, 185);
    padding: 20px;
}

#footer-main .logo img {
    width: 90px;
}

#footer-main h4 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

#footer-main p {
    font-size: 0.8rem;
}

#footer-main a {
    color: rgb(185, 185, 185);
}

.last {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1d1d1d;
    color: rgb(180, 180, 180);
    font-size: 0.8rem;
}

.last .logo-footer img {
    position: absolute;
    margin-left: 7px;
    width: 50px;
}

.last a {
    color: rgb(180, 180, 180);
}

.last a:hover {
    color: #fff;
}

/* END FOOTER */

@media(max-width: 990px) {

    .bolas>div {
        width: 20px;
        height: 20px;
    }

    nav{
        position: relative;
    }

    .header {
        display: none;
    }

    .hamburguer {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .org {
        display: unset;
    }

    .align-center {
        flex-direction: column;
    }

    #view-sec.container {
        height: 100vh;
    }

    #view-sec .align-center {
        flex-direction: column-reverse;
    }

    .container .org-align .align-center span {
        position: relative;
        width: 100%;
    }

    .container .org-align .align-center .img-view img {
        position: relative;
        top: 0;
        width: 350px;
    }

    .spec-but {
        margin-bottom: 40px;
    }

    .menu .light-dark{
        display: block;
    }

    .redes-sociais.light-dark {
        display: none;
    }

    .onda {
        position: relative;
    }

    .services-cont {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    #contact-view .align-center a i{
        margin: 5px 7px 5px 0px;
    }

    #contact-view .align-center .fa-whatsapp {
        font-size: 1.4rem;
    }
    
    #contact-view .align-center .fa-linkedin-in{
        font-size: 1.4rem;
    }
    
    #contact-view .align-center .fa-instagram{
        font-size: 1.4rem;
    }
    
    #contact-view .align-center a i:hover {
        transform: scale(1.1);
    }

    .last{
        font-size: 0.7rem;
    }

    .last .logo-footer img {
        display: inline;
        width: 40px;
    }
}